{% extends "base.twig" %}
{% block body %}
    <h1>Details</h1>
    
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-DgTWH8n954KSYmOlOnZx-m1DkrJM5iI"#}
{#    async defer></script>#}
    <script src="{{webPath}}/js/vendor/google.js"></script>
    

    <div class="row">

        <div class="col-md-4 col-sm-6 cal-xs-12">
            <div class="city-box ">
                <ul>
                    <li><h4>{{ city['name'] }}</h4></li>
                    <li>Temperature: {{ city['temp'] }} °C</li>
                    <li>Pressure: {{ city['pressure'] }} hPa</li>
                    <li>Humidity: {{ city['humidity'] }} %</li>
                    <li>Wind speed: {{ city['windSpeed'] }} m/s</li>
                    <li>Wind direction: {{ city['windDirection'] }}</li>
                </ul>
                <img src="{{ webPath }}/images/{{city['icon']}}.png" >
            </div>
        </div>

        <div id="map" class="col-md-4 col-sm-6 cal-xs-12" data-city="{{ cityName }}"></div>
        
    </div>
    <h2>Forecast</h2>
    <div class="row">
        {% for weather in forecast %}
            <div class="col-md-4 col-sm-6 cal-xs-12">
                <div class="city-box ">
                    <ul>
                        <li><h4>{{ weather['date'] }}</h4></li>
                        <li>Temperature: {{ weather['temp'] }} °C</li>
                        <li>Pressure: {{ weather['pressure'] }} hPa</li>
                        <li>Humidity: {{ weather['humidity'] }} %</li>
                    </ul>
                    <img src="{{ webPath }}/images/{{weather['icon']}}.png" >
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>MIN MAX Temperatures</h2>
    <div class="row">
        {% for day, value in minmax %}
            <div class="col-md-4 col-sm-6 cal-xs-12">
                <div class="city-box ">
                    <ul>
                        <li><h4>{{ day }}</h4></li>
                        <li>Min: {{ value['min'] }} °C</li>
                        <li>Max: {{ value['max'] }} °C</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{{webPath}}/js/googleMaps.js"></script>
{% endblock %}