    <div class="row">
        {% for weather in forecast %}
            <div class="col-md-4 col-sm-6 cal-xs-12">
                <div class="city-box ">
                    <ul>
                        <li><h4>{{ weather['date'] }}</h4></li>
                        <li>Temperature: {{ weather['temp'] }} °C</li>
                        <li>Pressure: {{ weather['pressure'] }} hPa</li>
                        <li>Humidity: {{ weather['humidity'] }} %</li>
                    </ul>
                    <img src="{{ webPath }}/images/{{weather['icon']}}.png" >
                </div>
            </div>
        {% endfor %}
    </div>