<div class="row">
    <div class="col-md-12">
        <div class="city-box geolocation-box">
            <ul>
                <li><h3>Twoja lokalizacja</h3></li>
                <li>Temperature: {{ location['temp'] }} °C</li>
                <li>Pressure: {{ location['pressure'] }} hPa</li>
                <li>Humidity: {{ location['humidity'] }} %</li>
                <li>Description: {{ location['description'] }}</li>
            </ul>
                <img class="geolocation-img" src="{{ webPath }}/images/{{location['icon']}}_g.png" >
        </div>
    </div>
</div>